html,
body {
  height: 100%;
  background: lightcoral;
  margin: 0;
}

.screenWrapper {
  display: flex;
  position: relative;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: lightblue;
}

#mainScreen {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: lightblue;
}

.gamepad {
  margin: 20px 0 0 0;
}

.piano {
  margin: 0 0 20px 0;
}

.startStop {
  display: flex;
  width: 200px;
  padding: 10px;
  justify-content: center;
  background: #304e75;
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.startStop:hover {
  opacity: 0.7;
}

.startStop:active {
  background: transparent;
}

#gamepad {
  transition: opacity 300ms ease-in-out;
}
#dropdown {
  -webkit-overflow-scrolling: touch;
  position: absolute;
  z-index: 2;
  top: 100px;
  max-height: 300px;
  overflow: auto;
  opacity: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: #fff;
  transition: opacity 300ms ease-in-out;
}

#dropdown > li {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  padding: 10px 30px;
  background: pink;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

#dropdown > li:hover {
  background: rosybrown;
}

.btn {
  margin: 40px 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background: purple;
  color: #fff;
}

.btn:hover {
  opacity: 0.6;
}
.btn:active {
  background: #fff;
}
