html,
body {
  height: 100%;
  background: lightcoral;
  margin: 0;
}

.screenWrapper {
  display: flex;
  flex: 1;
  height: 100%;
}

#loadingScreen {
  background: yellow;
}

#setupScreen {
  background: lightblue;
}

#playScreen {
  background: purple;
}
