html,
body {
  height: 100%;
  background: lightcoral;
  margin: 0;
}

.screenWrapper {
  display: flex;
  position: relative;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: lightblue;
}

#mainScreen {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: lightblue;
}

.gamepad {
  margin: 20px 0 0 0;
}

.piano {
  margin: 0 0 20px 0;
}

.startStop {
  display: flex;
  width: 200px;
  padding: 10px;
  justify-content: center;
  background: #304e75;
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.startStop:hover {
  opacity: 0.7;
}

.startStop:active {
  background: transparent;
}

#dropdown {
  display: none;
  position: absolute;
  top: 100px;
  height: 200px;
  width: 100px;
  background: #fff;
  opacity: 0.8;
}

.btn {
  margin: 40px 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background: purple;
  color: #fff;
}

.btn:hover {
  opacity: 0.6;
}
.btn:active {
  background: #fff;
}




.container {
  width: 100%;
  height: 10%;
  position: fixed;
  left: 0;
  right: 0;
  
  bottom: 0;

  color: white;
  font-family: 'Abel', sans-serif;
}
a,
a:visited {
  color: white;
}

.machine-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to right, #000000, #323232);

  display: flex;
  justify-content: center;
  align-items: center;
}
.human-bg {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to left, #000000, #323232);

  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  z-index: 4;
  font-size: 16px;
  text-align: center;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}
.top-controls {
  display: flex;
  justify-content: space-around;
  width: 500px;
}
.mdc-select,
.mdc-select__native-control {
  color: white !important; /* Whatever. */
  border-bottom-color: white !important;
  margin: 0 5px;
  padding-top: 5px;
}
.ui-hidden .controls {
  opacity: 0;
}
.machine-bg .controls {
  margin-bottom: 125px;
}
.top-controls .mdc-slider {
  margin-bottom: 5px;
}
.top-controls .mdc-select {
  display: block;
}
.top-controls .mdc-switch {
  display: block;
  margin-top: 20px;
  margin-bottom: 16px;
}
.controls #temperature {
  width: 200px;
}
.human-bg .controls {
  margin-top: 125px;
}

.machine-bg .player,
.human-bg .player {
  position: absolute;
  left: 5vw;
  width: 90vw;
  top: 0;
  bottom: 0;
}
.machine-bg .player .key,
.human-bg .player .key {
  position: absolute;
  top: 0;
  height: 100%;
}
.machine-bg .player .key {
  background-color: #e91e63;
  opacity: 0;
}
.human-bg .player .key.down {
  background-color: #64b5f6;
  opacity: 0.9;
}

.keyboard {
  position: absolute;
  left: 5vw;
  width: 90vw;
  top: calc(50% - 125px);
  height: 250px;
  opacity: 0;
  transition: opacity 0.7s ease-in;
}
.keyboard.loaded {
  opacity: 1;
}

.keyboard .key {
  position: absolute;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 5px #333;
  border-radius: 3px;
}

.keyboard .key.accidental {
  height: 170px;
  z-index: 2;
  background-color: black;
  box-shadow: none;
  border-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.loading {
  position: absolute;
  left: 0;
  width: 100%;
  top: calc(50% - 30px);
  height: 250px;
  text-align: centeR;

  color: white;
  font-size: 40px;
}
