html,
body {
  height: 100%;
  background: lightcoral;
  margin: 0;
  font-family: 'Helvetica';
}

.screenWrapper {
  display: flex;
  flex: 1;
  height: 100%;
}

#loadingScreen {
  background: yellow;
}

#setupScreen {
  background: lightblue;
}

#playScreen {
  background: purple;
}

#sliders {
  display: flex;
  flex-direction: row;
}

#compressorSliders {
  background: #215e78;
}

#filterSliders {
  background: rgb(48, 146, 196);
}

#noteChordSelection {
  background: pink
}