html,
body {
  height: 100%;
  margin: 0;
}

#mainScreen {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: lightblue;
}
.spinner {
  height: 100%;
  width: 100%;
  background: lightskyblue;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 500ms linear;
  z-index: 1000;
  opacity: 1;
}

.double-bounce1,
.double-bounce2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.gamepad {
  margin: 20px 0 0 0;
}
.octaveSlider {
  visibility: hidden;
  height: 100px;
  display: flex;
  width: 80%;
  -webkit-appearance: none;
  flex: 1;
  background: transparent;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  padding: 5px 0;
}

.octaveSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 33.33%;
  height: 40px;
  background: #304e75;
  cursor: pointer;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
}

#gamepad {
  transition: opacity 300ms ease-in-out;
}

#modal {
  -webkit-overflow-scrolling: touch;
  position: absolute;
  z-index: 2;
  top: 100px;
  overflow: auto;
  opacity: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
  transition: all 300ms ease-in-out;
}

#modal > li {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  padding: 5px 30px;
  background: pink;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

#modal > li:hover {
  background: rosybrown;
}

.btn {
  margin: 40px 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background: purple;
  color: #fff;
}

.btn:hover {
  opacity: 0.6;
}
.btn:active {
  background: #fff;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.pattern {
  display: flex;
  width: 200px;
  height: 300px;
  flex-wrap: nowrap;
}

.pad {
  flex: 1;
  background: lightslategray;
  height: 20px;
  margin: 1px;
}

.pad:hover {
  opacity: 0.5;
}

.patternBtn {
  padding: 20px 30px;
  background: #304e75;
  margin-top: 30px;
  text-transform: uppercase;
  color: lightblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.patternBtn:hover {
  opacity: 0.8;
}

.patternBtn:active {
  opacity: 0;
}
